    body {
        display: grid;
        margin:0;
        padding:0;
        height: 100vh;
    }
    
    header {
        background-color: rgb(255, 179, 1);
        display:grid;
        grid-template-columns: 1fr 1fr;
        height: 50px;
    }
    
    #headerButtons {
        display:flex;
        justify-content: space-evenly;
    }
    
    #registerLayout {
        display:flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        margin-top:5%;
    }

    #registerImage {
        margin-bottom: 50px;
    }

    #registerEmailInput {
        display:flex;
    }

    #registerUserName {
        display:flex;
    }

    #tilde00 {
        margin:0;
        color: green;
        visibility: hidden;
    }

    #registerUserLastName{
        display:flex;
    }

    #tilde01 {
        margin:0;
        color: green;
        visibility: hidden;
    }
   
    #tilde10 {
        margin:0;
        color: green;
        visibility: hidden;
    }

    #tilde11 {
        margin:0;
        color: green;
        visibility: hidden;
    }

    #registerEmailConfirmationInput {
        display:flex;
    }

    #registerEmailConfirmationInputId {
        visibility: hidden;  
    }

    #passwordP1 {
        margin-bottom:0;
    }

    #passwordP2 {
        margin-top:0;
    }

    #registerPasswordInput {
        display:flex;
    }

    #registerPasswordConfirmationInputId {
        visibility: hidden;
    }

    #tilde20 {
        margin:0;
        color: green;
        visibility: hidden;
    }

    #tilde21 {
        margin:0;
        color: green;
        visibility: hidden; 
    }

    #registerPasswordConfirmationInput{
        display:flex;
    }

    #registerSubmitButton {
        margin-top: 10px;
    }
    
    footer {
        background-color: rgb(255, 179, 1);
        display: flex;
        margin-top:auto;
        justify-content: center;
    }